.st0 {
  fill: #e2e2e2
}

.st1 {
  fill: #bbbdbf
}

.st2 {
  fill: url(#SVGID_1_)
}

.st3 {
  fill: url(#SVGID_2_)
}

.st4 {
  fill: url(#SVGID_3_)
}

.st5 {
  fill: none;
  stroke: #fff;
  stroke-width: .5;
  stroke-miterlimit: 10
}

.st6 {
  fill: #fff
}

.st7 {
  fill: url(#SVGID_4_);
  stroke: #dd313e;
  stroke-width: .2;
  stroke-miterlimit: 10
}

.st8 {
  fill: url(#SVGID_5_);
  stroke: #dd313e;
  stroke-width: .2;
  stroke-miterlimit: 10
}

.st9 {
  fill: url(#SVGID_6_)
}

.st10 {
  fill: #dd313e
}

.st11 {
  fill: url(#SVGID_7_)
}

.st12 {
  fill: url(#SVGID_8_)
}

.st13 {
  fill: url(#SVGID_9_)
}

.st14 {
  fill: #e6e7e8
}

.st15 {
  fill: url(#SVGID_10_)
}

.st16 {
  fill: url(#SVGID_11_)
}

.st17 {
  fill: url(#SVGID_12_)
}
img[alt=lambdapad] {
  width: 98px;
}
