<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="Email us"
            aria-label="Email us">
            <a class="text-white" target="_blank"
              href="mailto:hello@lambdapad.com">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
          <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="Twitter"
            aria-label="Twitter">
            <a class="text-white" target="_blank" href="https://twitter.com/altenwald">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="GitHub"
            aria-label="GitHub">
            <a class="text-white" target="_blank" href="https://github.com/lambdapad/lambdapad">
              <i class="fab fa-github"></i>
            </a>
          </li>
          {# TODO: if we are going to use Slack, is the history could be public?
          <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="Slack"
            aria-label="Slack">
            <a class="text-white" target="_blank" href="https://erlanger.slack.com/archives/C0SEMDD36">
              <i class="fab fa-slack"></i>
            </a>
          </li>
          #}
        </ul>
      </div>
      <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        <small class="text-white">&copy; 2021-{{ current_year }} Altenwald All Rights Reserved</small>
        <p class="mt-2"><a href="/about/">About</a></p>
      </div>
    </div>
  </div>
</footer>
