<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3 is-offset-2">
        <ul>
          <li><a href="{{ blog.url }}download/lpad"><i class="fa fa-download"></i>&nbsp; Download</a></li>
          <li><a href="{{ blog.url }}docs"><i class="fa fa-book"></i>&nbsp;Documentation</a></li>
        </ul>
      </div>
      <div class="column is-4 is-offset-3">
        <ul>
          <li>Notepad Image by <a href="https://pixabay.com/users/openicons-28911/">OpenIcons</a> from <a href="https://pixabay.com/">Pixabay</a></li>
        </ul>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        <a class="icon" href="https://github.com/altenwald/lambdapad"><i class="fa fa-github"></i></a>
      </p>
    </div>
  </div>
</footer>
