{% include "head.html" %}
<body class="td-home">
  {% include "header.html" %}
  <div class="container-fluid td-default td-outer">
    <main role="main" class="td-main">
      <section class="row td-cover-block td-cover-block--height-min js-td-cover td-overlay td-overlay--light -bg-white">
        <div class="container td-overlay__inner">
          <div class="row align-items-end">
            <div class="col-12 pt-3">
              <div class="pt-3 lead text-center">
                <h1 class="display-1 mt-0 pb-3">
                  <img alt="rebar3" width="98" src="/images/notepad.png" />
                  {{ lambdapad.name }}
                </h1>
                <p class="display-2 mb-0">{{ lambdapad.description }}</p>
              </div>
            </div>
            <div class="col-12 pt-3">
              <div class="pt-3 lead text-center">
                <div class="mx-auto">
                  <a class="btn btn-lg btn-secondary mr-3 mb-4" href="/download/lpad">
                    Download (v{{ lambdapad.vsn }}) <i class="fas fa-cloud-download-alt ml-2 "></i>
                  </a>
                  <a class="btn btn-lg btn-primary mr-3 mb-4" href="/docs/getting-started">
                    Getting Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                  </a>
                  <div class="mx-auto mt-5">
                    <a class="btn btn-link text-info" href="#td-block-1"><i class="fa fa-chevron-circle-down"
                        style="font-size: 400%"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <a id="td-block-1" class="td-offset-anchor"></a>
      <section class="row td-box td-box--secondary position-relative td-box--gradient td-box--height-auto">
        <div class="container text-center td-arrow-down">
          <span class="h4 mb-0">
            <p><strong>What is Lambdapad?</strong></p>
            <p>It's a static website generator. It's really great for blogs, websites, documentation and landing pages.</p>
          </span>
        </div>
      </section>
      <a id="td-block-2" class="td-offset-anchor"></a>
      <section class="row td-box td-box--dark td-box--gradient td-box--height-auto">
        <div class="col">
          <div class="row ">
            <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
              <div class="mb-4 h1">
                <i class="fas fa-ship"></i>
              </div>
              <h4 class="h3">Fast on-board</h4>
              <p class="mb-0">
              <p>Easy to go into your first page.</p>
              </p>
              <p><a href="/docs/getting-started/">Read more …</a></p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
              <div class="mb-4 h1">
                <i class="fas fa-plug"></i>
              </div>
              <h4 class="h3">Extendable</h4>
              <p class="mb-0">
              <p>You can get snippets for more advanced stuff.</p>
              </p>
              <p><a href="/docs/extensions/">Read more …</a></p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
              <div class="mb-4 h1">
                <i class="fas fa-running"></i>
              </div>
              <h4 class="h3">Release and Upload</h4>
              <p class="mb-0">
              <p>Put your site in production easily.</p>
              </p>
              <p><a href="/docs/build-and-ship-it/">Read more …</a></p>
            </div>
          </div>
        </div>
      </section>
      <a id="td-block-3" class="td-offset-anchor"></a>
      <section class="row td-box td-box--primary td-box--gradient td-box--height-auto">
        <div class="col">
          <div class="row ">
            <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
              {# TODO: are we going to use Slack?
              <div class="mb-4 h1">
                <i class="fab fa-slack"></i>
              </div>
              <h4 class="h3">Join us on Slack</h4>
              <p class="mb-0">
              <p>Join the <a href="https://erlef.org/slack-invite/erlanger">community</a> on Slack</p>
              </p>
              #}
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
              <div class="mb-4 h1">
                <i class="fab fa-github"></i>
              </div>
              <h4 class="h3">Contributions welcome!</h4>
              <p class="mb-0">
              <p>We do a <a href="https://github.com/lambdapad/lambdapad/pulls">Pull Request</a> contributions workflow on
                <strong>GitHub</strong>.</p>
              <p>New users are always welcome!</p>
              </p>
              <p><a href="https://github.com/lambdapad/lambdapad">Read more …</a></p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
              {# TODO: are we going to use any other mean of communication?
              <div class="mb-4 h1">
                <i class="fab fa-chat"></i>
              </div>
              <h4 class="h3">Join us on IRC</h4>
              <p class="mb-0">
              <p>For the Slack averse we are on irc.freenode.net channel #rebar</p>
              </p>
              #}
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include "footer.html" %}
  </div>
{% include "end.html" %}
