<nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
  <ul class="td-sidebar-nav__section pr-md-3">
    <li class="td-sidebar-nav__section-title">
      <a href="/docs/"
        class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">Documentation</a>
    </li>
    <ul>
      <li class="collapse show" id="docs">
        {% for page in pages %}
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/{% if page.id != "index" %}{{ page.id }}/{% endif %}">{{ page.title }}</a>
        {% endfor %}
        {# TODO subsections
        <ul class="td-sidebar-nav__section pr-md-3">
          <li class="td-sidebar-nav__section-title">
            <a href="/docs/configuration/"
              class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">Configuration</a>
          </li>
          <ul>
            <li class="collapse show" id="docsconfiguration">
              <a class="td-sidebar-link td-sidebar-link__page " id="m-docsconfigurationconfiguration"
                href="/docs/configuration/configuration/">Base Config</a>
            </li>
          </ul>
        </ul>
        #}
      </li>
    </ul>
  </ul>
</nav>
