<nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
  <ul class="td-sidebar-nav__section pr-md-3">
    <li class="td-sidebar-nav__section-title">
      <a href="/docs/"
        class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">Documentation</a>
    </li>
    <ul>
      <li class="collapse show" id="docs">
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/getting-started/">Getting Started</a>
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/options/">Options for Configuration</a>
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/elixir-configuration/">Elixir Configuration</a>
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/erlang-configuration/">Erlang Configuration</a>
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/output-directory/">Output Directory</a>
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/templates/">Templates</a>
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/assets/">Assets</a>
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/extensions/">Extensions</a>
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/http-server/">HTTP Server</a>
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/new/">New (Templates)</a>
        <a class="td-sidebar-link td-sidebar-link__page" href="/docs/contributing/">Contributing</a>
        {# TODO subsections
        <ul class="td-sidebar-nav__section pr-md-3">
          <li class="td-sidebar-nav__section-title">
            <a href="/docs/configuration/"
              class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">Configuration</a>
          </li>
          <ul>
            <li class="collapse show" id="docsconfiguration">
              <a class="td-sidebar-link td-sidebar-link__page " id="m-docsconfigurationconfiguration"
                href="/docs/configuration/configuration/">Base Config</a>
            </li>
          </ul>
        </ul>
        #}
      </li>
    </ul>
  </ul>
</nav>
